.feature {
	width: 1237px;
	height: 85px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	margin-left: 200px;
	.feature-item {
		padding: 16px;
		display: flex;

		img {
			width: 40px;
			height: 40px;
			margin-right: 24px;
		}
		.right {
			width: 200px !important;
			p {
				color: #898989;
			}
		}
	}
}
