.product-quantity {
	display: inline-block;
	height: 40px;
	padding: 0;
	position: relative;
	width: 110px;
	.qtybutton {
		color: #333;
		cursor: pointer;
		float: inherit;
		font-size: 16px;
		margin: 0;
		position: absolute;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		width: 20px;
		text-align: center;
	}
	.dec {
		border-right: 1px solid #e5e5e5;
		height: 28px;
		left: 0;
		padding-top: 12px;
		top: 0;
	}
	input {
		color: #333;
		float: left;
		font-size: 14px;
		height: 40px;
		margin: 0;
		width: 110px;
		background: transparent none repeat scroll 0 0;
		border: 1px solid #e1e1e1;
		padding: 0;
		text-align: center;
	}
	.inc {
		border-left: 1px solid #e5e5e5;
		height: 28px;
		padding-top: 12px;
		right: 0;
		top: 0;
	}
}
