.post {
	margin-top: 30px;
	.post-item {
		max-width: calc(750px + 8vw);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 75px;
		padding-left: 4vw;
		padding-right: 4vw;
		width: 100%;
		header {
			margin-bottom: 20px;
			h2 {
				font-size: 28px;
				font-weight: 800;
				letter-spacing: -0.5px;
				margin-bottom: 10px;
			}
			h2:hover {
				color: #ff1a75;
			}
			span {
				color: #aaa;
				font-size: 11px;
				font-weight: 800;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}
		.post-item-excerpt {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		.post-footer {
			align-items: center;
			border-top: 1px solid #d9d9d9;
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			padding-top: 10px;
			.post-action {
				display: flex;
				line-height: 1;
				.post-link.primary {
					color: #ff1a75;
					font-weight: 800;
				}
				.post-link {
					align-items: center;
					display: flex;
					font-size: 12px;
					font-weight: 700;
					letter-spacing: 0.3px;
					padding-left: 14px;
					position: relative;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
			.post-author {
				align-items: center;
				display: flex;
				span {
					color: #aaa;
				}
				a {
					color: #1a1a1a;
					text-decoration: none;
				}
			}
		}
	}
}
.search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
	margin-left: 830px;
}
.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background-color: #fff;
	padding-right: 40px;
	color: #000;
}
.input-search::placeholder {
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}
.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #1976d2;
	background-color: transparent;
	pointer-events: painted;
}
.btn-search:focus {
	color: #1976d2;
}
.btn-search:focus ~ .input-search {
	width: 500px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid #1976d2;
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
	width: 500px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid #1976d2;
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.ListPost {
	position: relative;
	.search-box {
		position: absolute;
		top: 5px;
	}
}
