.post {
	margin-top: 30px;
	.post-item {
		max-width: calc(750px + 8vw);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 75px;
		padding-left: 4vw;
		padding-right: 4vw;
		width: 100%;
		header {
			margin-bottom: 20px;
			h2 {
				font-size: 28px;
				font-weight: 800;
				letter-spacing: -0.5px;
				margin-bottom: 10px;
			}
			h2:hover {
				color: #ff1a75;
			}
			span {
				color: #aaa;
				font-size: 11px;
				font-weight: 800;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}
		.post-footer {
			align-items: center;
			border-top: 1px solid #d9d9d9;
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			padding-top: 10px;
			.post-action {
				display: flex;
				line-height: 1;
				.post-link.primary {
					color: #ff1a75;
					font-weight: 800;
				}
				.post-link {
					align-items: center;
					display: flex;
					font-size: 12px;
					font-weight: 700;
					letter-spacing: 0.3px;
					padding-left: 14px;
					position: relative;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
			.post-author {
				align-items: center;
				display: flex;
				span {
					color: #aaa;
				}
				a {
					color: #1a1a1a;
					text-decoration: none;
				}
			}
		}
	}
}
