.footer-shop {
	width: 100%;
	height: 260px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-wrap: 10px;
	i {
		color: white;
		font-size: 30px;
		margin: 10px;
	}
	h3 {
		width: 100%;
		text-align: center;
		display: block;
		color: white;
		font-size: 40px;
	}
}
