.login {
	width: 100%;
	height: 800px;
	display: flex;
	margin-top: 110px;
	.login-img {
		width: 50%;
		height: 100%;
		background-image: url("./img/img.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
	.login-form {
		width: 50%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		img:first-child {
			height: 140px;
			width: 140px;
			position: absolute;
			top: 0;
			right: 0;
		}
		img:last-child {
			height: 140px;
			width: 140px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.login-form-input {
			width: 60%;
			position: absolute;
			top: 245px;

			h1 {
				text-align: center;
				font-size: 40px;
				margin-bottom: 20px;
			}
			form {
				width: 100%;
				position: relative;
				label {
					font-size: 18px;
					font-weight: bold;
				}
				button {
					width: 100%;
					padding: 8px 12px;
					font-size: 25px;
					margin-top: 30px;
					background-color: #03a9f4;
					border: none;
					color: white;
					border-radius: 15px;
					transform: translateX(10px);
				}
			}
			.createAccount {
				display: block;
				width: 100%;
				margin-top: 100px;
				position: absolute;
				text-align: center;
				a {
					text-decoration: none;
					color: #03a9f4;
				}
			}
		}
	}
	#submit {
		cursor: pointer;
	}
}
