.create {
	width: 100%;
	height: 1000px;
	display: flex;
	margin-top: 110px;
	.create-img {
		width: 50%;
		height: 100%;
		background-image: url("./img/imagebg.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.create-form {
		width: 50%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		img:first-child {
			height: 140px;
			width: 140px;
			position: absolute;
			top: 0;
			right: 0;
		}
		img:last-child {
			height: 140px;
			width: 140px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.create-form-input {
			width: 60%;
			position: absolute;
			top: 60px;

			h1 {
				text-align: center;
				font-size: 40px;
				margin-bottom: 20px;
			}
			form {
				width: 100%;
				position: relative;
				label {
					font-size: 18px;
					font-weight: bold;
					display: inline-block;
					margin-bottom: 10px;
				}
				input[type="text"],
				input[type="password"] {
					width: 100%;
					border-radius: 4px;
					padding: 8px 12px;
					font-size: 18px;
				}
				input[type="date"] {
					width: 300px;
					background-color: #0080ff;
					padding: 15px;
					font-family: "Roboto Mono", monospace;
					color: #ffffff;
					font-size: 24px;
					border: none;
					outline: none;
					border-radius: 5px;
				}
				::-webkit-calendar-picker-indicator {
					background-color: #ffffff;
					padding: 5px;
					cursor: pointer;
					border-radius: 3px;
				}
				input[type="date"] {
					font-size: 18px;
					margin-bottom: 25px;
				}
				.lbRadio {
					margin-right: 40px;
				}
				a {
					display: inline-block;
					text-align: center;
					width: 100%;
					padding: 8px 12px;
					font-size: 25px;
					margin-top: 30px;
					background-color: #03a9f4;
					border: none;
					color: white;
					border-radius: 15px;
					transform: translateX(10px);
				}
			}
			p#login {
				display: block;
				width: 100%;
				margin-top: 20px;
				position: absolute;
				text-align: center;
				a {
					text-decoration: none;
					color: #03a9f4;
				}
			}
		}
	}
}
.sex {
	display: flex;
}
.l-radio {
	padding: 6px;
	border-radius: 50px;
	cursor: pointer;
	margin: 8px 0;
	margin-left: 40px;
	-webkit-tap-highlight-color: transparent;
}
.l-radio:hover,
.l-radio:focus-within {
	background: rgba(159, 159, 159, 0.1);
}
.l-radio input {
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;

	background: none;
	border: 0;
	box-shadow: inset 0 0 0 1px #9f9f9f;
	box-shadow: inset 0 0 0 1.5px #9f9f9f;
	appearance: none;
	padding: 0;
	margin: 0;
	transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
	pointer-events: none;
}
.l-radio input:focus {
	outline: none;
}
.l-radio input:checked {
	box-shadow: inset 0 0 0 6px #6743ee;
}
.l-radio span {
	vertical-align: middle;
	display: inline-block;
	line-height: 20px;
	padding: 0 8px;
}
