.image-slider {
	margin-top: 200px;
	.slick-dots {
		display: flex;
		list-style: none;
		position: absolute;
		top: -60px;
		left: 50%;
		transform: translateX(-50%);
		button {
			font-size: 0;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background-color: #d8d8d8;
			margin: 7px;
			font-size: 0;
			border: 0;
		}
	}
	.slick-active button {
		background: #e89f71;
	}

	.custom {
		position: absolute;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: #e89f71;
		border: 0;
		i {
			color: white;
			font-size: 25px;
		}
		&:active {
			background-color: rgba(232, 159, 113, 0.3);
			i {
				color: #e89f71;
			}
		}
	}
	.slick-prev {
		top: -80px;
		right: 20px;
	}
	.slick-next {
		top: -80px;
		right: 100px;
	}
	.slick-list {
		margin-top: 80px;
	}

	.image {
		width: 934px;
		height: 553px;
		margin: 0px 32px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.image-item {
		position: relative;
		.cost {
			position: absolute;
			bottom: 40px;
			right: 80px;
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
			padding: 20px 30px;
			h3 {
				font-size: 28px;
			}
			p {
				color: #616161;
				margin-bottom: 30px;
			}
		}
	}
}
.slider-info {
	width: 374px;
	height: 433px;
	padding: 60px;
	position: absolute;
	top: 0px;
	left: 100px;
	background-color: #ffffff;
	opacity: 0.9;
	.text {
		width: 374px;
		height: 433px;
		h1 {
			font-weight: 600;
			font-size: 60px;
			line-height: 70px;
		}
		p {
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #898989;
		}
		a {
			display: inline-block;
			margin-top: 48px;
			width: 374px;
			height: 78px;
			background-color: #e89f71;
			text-decoration: none;
			font-size: 20px;
			line-height: 78px;
			text-align: center;
			color: #ffffff;
		}
	}
}
